<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Please contact <%= @lister.name %> to set up a meeting for this job. Their email address is <%= @lister.email %>

  </body>
</html>