<% current_user.jobs.each do |job| %>
  <% job.kids.each do |kid| %>
    <div class="applicant_listing">
      <img class="application_img">
      <h2 class="job_name"><%= job.name %></h2>
      <h3 class="applicant_name"><%= kid.name %></h3>
      <p class="applicant_description"><%= kid.about %></p>
      <button class="applicant_accept">Accept</button> <!--accept kid to do job-->
    </div>
  <% end %>
<% end %>