<h1>Job List</h3>
<% @jobs.each do |job| %>
  <div class="job_listing">
      <div class="job_post">
        <img class="job_img">
        <div class="job_details">
            <h2 class="job_name"><%= job.name %>Job Name</h2>
            <h3 class="job_lister">job.adult.all_listers.last.name</h3>
            <h4 class="job_distance"><%= job.distance %></h4>
            <p class="job_description"><%= job.description %></p>
        </div>

        <button class="job_apply">Apply</button> <!--call pop up-->
        <h5 class="job_price"><%= job.cost %></h5>
      </div>
  </div>
<% end %>