<div id="main">
  <h1>Are you a</h1>
  <div id="job_seeker">
    <%= link_to image_tag("to mini job seaker"), new_kid_session_path %>
  </div>
  <img id="or" src="">
  <div id="job_lister">
    <%= link_to image_tag(""), new_adult_session_path %>
  </div>
</div>
