<div id="main">
  <h1>Are you a</h1>
  <div id="job_seeker">
      <a href="login.html"><img src="">Mini Job Seeker</a> <!--link to login (as kid) -->
  </div>
  <img id="or" src="">
  <div id="job_lister">
    <%= link_to image_tag(""), new_adult_session_path %>
  </div>
</div>
