<div id="nav">
<!--   < %= link_to image_tag("home-seeker.png"), new_kid_session_path, :id "job_seeker" %> -->
  <%= link_to image_tag("img/nav-profile.png"), profile_path %>
  <%= link_to image_tag("nav-home.png"), me_path %>
  <%= link_to image_tag("nav-jobs.png"), jobs_path %>
  <%= link_to 'Sign out', "/#{user_type}s/sign_out", :method => :delete %>

</div>
